/vendor/
/COPYING.txt
/Gruntfile.js.sample
/LICENSE.txt
/LICENSE_AFL.txt
/SECURITY.md
/auth.json.sample
/autoload.php
/bin/
/bootstrap.php
/composer.json
/composer.lock
/dev/
/generated/
/grunt-config.json.sample
/lib/
/nginx.conf.sample
/package.json.sample
/phpserver/
/pub/
/setup/
/var/
/.editorconfig
/.htaccess.sample
/.php-cs-fixer.dist.php
/.user.ini
/CHANGELOG.md
/app/etc
/app/i18n
